.playlist-container {
    height: 68vh;
    padding-top: 16px;
    margin: 10px;
    border-radius: 10px;
    background-color: #121212;
  }

.result-playlists .playlist {
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
  }